In [51]:
from sklearn import tree
from sklearn import datasets as ds
import pandas as pd

In [52]:
cpu_df = pd.read_csv("cpu.csv")

In [53]:
cpu_df

      vendor  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP
0    adviser   125   256   6000   256     16    128  199
1     amdahl    29  8000  32000    32      8     32  253
2     amdahl    29  8000  32000    32      8     32  253
3     amdahl    29  8000  32000    32      8     32  253
4     amdahl    29  8000  16000    32      8     16  132
..       ...   ...   ...    ...   ...    ...    ...  ...
204   sperry   124  1000   8000     0      1      8   37
205   sperry    98  1000   8000    32      2      8   50
206   sratus   125  2000   8000     0      2     14   41
207     wang   480   512   8000    32      0      0   47
208     wang   480  1000   4000     0      0      0   25

[209 rows x 8 columns]

In [54]:
X = cpu_df[['MYCT', 'MMIN', 'MMAX', 'CACH', 'CHMIN', 'CHMAX']]

In [55]:
X

     MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX
0     125   256   6000   256     16    128
1      29  8000  32000    32      8     32
2      29  8000  32000    32      8     32
3      29  8000  32000    32      8     32
4      29  8000  16000    32      8     16
..    ...   ...    ...   ...    ...    ...
204   124  1000   8000     0      1      8
205    98  1000   8000    32      2      8
206   125  2000   8000     0      2     14
207   480   512   8000    32      0      0
208   480  1000   4000     0      0      0

[209 rows x 6 columns]

In [64]:
y = pd.cut(
    cpu_df['PRP'],
    bins=[0, 20, 100, 200, 300, 400, 500, 600],
    include_lowest=True,
    labels=[1, 2, 3, 4, 5, 6, 7]
)

In [60]:
y

0      3
1      4
2      4
3      4
4      3
      ..
204    2
205    2
206    2
207    2
208    2
Name: PRP, Length: 209, dtype: category
Categories (7, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7]

In [65]:
y.isnull().values.any()

True

In [67]:
y = y.fillna(1)

## Predicciones

In [71]:
clasificador = tree.DecisionTreeClassifier()
print(clasificador)
#y = cpu_df["PRP"]
resultado = clasificador.fit(X=X, y=y)

xp = [
    [24, 8000, 3000,  256, 1, 8],
    [23, 512,  2000,  32,  4, 32],
    [32, 250,  6000,  0,   8, 16],
    [54, 1000, 2000,  0,   2, 64],
    [11, 6000, 5000,  32,  6, 8],
    [16, 250,  4000,  32,  4, 4],
    [22, 8000, 8000,  0,   4, 16],
    [29, 2566, 18000, 256, 2, 32],
    [19, 512,  32000, 32,  8, 16],
    [98, 2000, 12000, 0,   5, 32],
]

yt = [3, 2, 2, 3, 2, 2, 2, 4, 4, 2]

yp = clasificador.predict(xp)

print(yp)

DecisionTreeClassifier()
[3 3 2 1 3 3 3 4 3 2]

## Matriz de confusiÃ³n

In [72]:
from sklearn.metrics import confusion_matrix

In [73]:
confusion_matrix(yt, yp)

array([[0, 0, 0, 0],
       [0, 2, 4, 0],
       [1, 0, 1, 0],
       [0, 0, 1, 1]])

## Mediana de los resultados

In [74]:
from sklearn.metrics import median_absolute_error

median_absolute_error(yt, yp)

1.0